body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.container {
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    max-width: 800px;
    border: 1px solid #000000;
    margin-top: 15px;
}

#my-form {
    padding: 15px;
    margin-top: 10px;
}

.comm {
    padding: 25px;
}

input {
    padding: 5px;
    margin-left: 5px;
}

.btn {
    border: none;
    padding: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: orchid;
    border-radius: 5px;
    margin-left: 30px;
}

.btn:hover {
    cursor: pointer;
    background: rgb(152, 49, 149);
}

.list {
    margin: 0 auto;
    max-width: 730px;
    border: 1px solid #000000;
    margin-bottom: 10px;
}

.list-item {
    list-style-type: none;
}

.delete-btn {
    border: none;
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    margin: 15px;
}

.delete-btn-hover:hover {
    cursor: pointer;
    background: rgb(96, 8, 8);
}

.edit-btn {
    border: none;
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: orange;
    border-radius: 5px;
}

.edit-btn-hover:hover {
    cursor: pointer;
    background: rgb(169, 122, 34);
}